body {
  background: #333;
}
.container {
  width: 1170px;
  min-height: 100vh;
  background: #f0f0f0;
  margin: 0 auto;
}

.boletos {
  display: none;
  padding: 20px 60px;
  background: #fff;
  overflow: hidden;
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  margin: 5px 0px;
  div {
    padding: 15px 10px;
    float: left;
    border: 1px solid #ccc;
    width: 14.14%;
    background: #fff;
    div {
      padding: 0px;
      width: 50%;
      height: auto;
      border: 0px;
      label {
        float: left;
        width: 30%;
        background: #ddd;
      }
      input {
        float: right;
        width: 70%;
      }
    }
  }

  .div-n-lanc {
    width: 18.4%;
  }
  .div-n-parcela {
    width: 10%;
  }
  label {
    height: 27px;
    padding: 4px 5px;
    display: block;
    width: 100%;
    // background: rgb(86, 83, 90);
    color: #333;
    font-size: 13px;
  }
  input {
    margin: 0px 0px;
    width: 100%;
    padding: 3px 5px;
    text-align: center;
  }
}

.div-responsavel,
.div-aluno,
.div-curso {
  width: 33% !important;
  label {
    width: 85px;
    float: left;
    background: #ddd;
  }
  input {
    width: 238px !important;
    float: right !important;
    text-align: left;
  }
}
#btn_download_pdf {
  display: block;
  clear: both;
  background: rgb(34, 56, 146);
  border: 0px;
  padding: 15px 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
#btn_download_pdf:hover {
  background: rgb(3, 74, 182);
}
#btn_gerar_boleto {
  display: block;
  background: rgb(34, 114, 83);
  border: 0px;
  padding: 15px 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 10px auto;
}
#btn_gerar_boleto:hover {
  background: rgb(31, 160, 80);
}
.bg_buttons {
  padding: 10px 30px;
  button {
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
#boleto_master {
  display: block;
}
#boleto_master,
#boleto_master div {
  background: #f0f0f0;
}
.tag_boletos {
  background: #999 !important;
  width: 99% !important;
  height: 35px !important;
  padding: 10px !important;
  overflow: hidden;
  border-radius: 5px 5px 0px 0px;
  border: 0px !important;
  h5 {
    text-align: right;

    color: #fff !important;
    margin: 0 !important;
  }
}
